<% first_item = (current_user.cart.nil? ? true : (current_user.cart.num_item_service_requests == 1)) %>

// reconfigure menu items on mouse-over menu for this item
var <%=svc_name%>_link_element = document.getElementById('stored_item_<%= @stored_item.id %>_<%=svc_name%>_link');
<%=svc_name%>_link_element.innerHTML = 'cancel <%=svc_name%>';
<%=svc_name%>_link_element.href = '/stored_items/<%=@stored_item.id%>/cancel_<%=svc_name%>_request';

var container = document.getElementById("stored_item_<%=@stored_item.id%>_menu_list");
var menu_div = document.getElementById("stored_item_<%=@stored_item.id%>_menu_contents")

// remove other options -- those are no longer available if you've chosen to donate
<% if svc_name != "mailing" && !@stored_item.is_a?(FurnitureItem) %>
	var mail_element = document.getElementById("stored_item_<%=@stored_item.id%>_mailing_li")
	container.removeChild(mail_element)
<% end %>

<% if svc_name != "donation" && false %>
	var donation_element = document.getElementById("stored_item_<%=@stored_item.id%>_donation_li")
	container.removeChild(donation_element)
<% end %>

<% if svc_name != "sell" && !@stored_item.is_a?(FurnitureItem) %>
	var sell_element = document.getElementById("stored_item_<%=@stored_item.id%>_sell_li")
	container.removeChild(sell_element)
<% end %>

<% if svc_name != "retrieval" && @stored_item.is_a?(FurnitureItem) %>
	var retrieve_element = document.getElementById("stored_item_<%=@stored_item.id%>_retrieval_li")
	container.removeChild(retrieve_element)
<% end %>

<% if svc_name != "retrieval" %>
	var new_element = document.createElement('li');
	new_element.innerHTML = '<a href="/account/check_out">checkout</a>';
	new_element.id = 'stored_item_<%=@stored_item.id%>_checkout_li';
	container.insertBefore(new_element, container.lastChild.nextSibling);
<% end %>

var new_div = document.createElement('div');
new_div.className = 'browse-item-service';
new_div.id = 'item-<%=@stored_item.id%>-service-div'
new_div.innerHTML = '<%=svc_name.capitalize%><br>Requested'
new_div.style.display = 'none'
wider_container = document.getElementById("stored_item_<%=@stored_item.id%>_menu");
wider_container.insertBefore(new_div, wider_container.lastChild)

// refresh the cart image at the top of the screen
<% if !current_user.cart.nil? && !current_user.cart.empty? %>
	var cart_display = document.getElementById("cart-display");
	cart_display.innerHTML = '<p><a href="/account/cart">service requests in cart: <%= current_user.cart.num_items %></a></p>';
	cart_display.style.display = 'block';
<% end %>

<% if first_item && !@stored_item.is_a?(FurnitureItem) %> 
	$("#first_item_processing_link").trigger('click');
<% end %>

<% if svc_name == "retrieval" %>
	alert('Your request has been received! You will be contacted soon via email to schedule a pick-up time for your item.');
	if (menu_div.style.display == 'none')
	{
		new_div.style.display = 'block';
	} else {
		new_div.style.display = 'none';
	}
<% end %>

