<%   @menu_page = :items %>
<%= render 'index_header' %>
<div id="internal-right">
<%= render 'item_search_form' %>
<%= render 'box_browser' %>
<%= render 'item_layout' %>
</div>
<div class="clearer"></div>
<%= render 'item_click_message' %>
