<!-- This page is loaded via ajax, so we must do all the partial work manually. -->
<body>
	<div class="item_summary">
		<%= image_tag(@stored_item.photo.url(:normal), :name => "normal_" + @stored_item.id.to_s) %>
		<br><br>
		<% if @stored_item.donated? %>
			NOTE: Item no longer in storage; donated to &quot;<%= @stored_item.donated_to %>&quot;.
		<br><br>
		<% elsif @stored_item.mailed? %>
			NOTE: Item no longer in storage; mailed to:<br><br>
			<%= raw address_summary @stored_item.shipment.to_address %>
			<br><br>on <%= @stored_item.shipment.created_at.strftime("%m/%d/%Y") %>.
			<br><br><%= raw tracking_url "Click here to track on fedex.com", @stored_item.shipment.tracking_number %>
			<br><br>
		<% end %>
		Tags: <br>
<%= render :partial => "stored_item_tags/tags_editor" %>
		<br><br>
	</div>
</body>
</html>