<%= form_for(@agreement_version, :html => { :onsubmit => "cf_submit.disabled=true;" }) do |f| %>
  <% if @agreement_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement_version.errors.count, "error") %> prohibited this agreement version from being saved:</h2>

      <ul>
      <% @agreement_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<% if not @most_recent_agreement.nil? %>
	Text is pre-populated with text from most recent saved agreement.<br><br>
	<% end %>
  <div class="field">
    <%= f.label :agreement_text %> (use normal HTML for formatting):<br><br>
	<% text_area_value = @most_recent_agreement.nil? ? @agreement_version.agreement_text : @most_recent_agreement.agreement_text %>
    <%= text_area :rental_agreement_version, :agreement_text, :cols => 60, :rows => 30, :value => text_area_value %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :id => "cf_submit", :onclick => "return formMonitor();" %>
  </div>
<% end %>
