<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "standard" }) do |f| %>
  	<div class="field clearfix">
	<%= f.label :email %>
  	<%= f.email_field :email, :class => "textbox" %>
	</div>

  	<div class="field clearfix">
	<%= f.label :password %>
  	<%= f.password_field :password, :class => "textbox" %>
	</div>

  	<% if devise_mapping.rememberable? -%>
    <div class="field clearfix">
	<%= f.label :remember_me, :class => "label_right" %>
	<%= f.check_box :remember_me, :class => "checkbox" %> 
	</div>
  	<% end %>

<div class="field clearfix">
	<%= f.submit "Sign in", :class => "button" %>
</div>

<% end %>
<script type="text/javascript" language="JavaScript">
document.forms['user_new'].elements['user_email'].focus();
</script>