Dear <%= @box.user.first_name %> <%= @box.user.last_name %>,
<br><br>
We just wanted to inform you that we have received your box, number <%= @box.box_num %>, here at The Visible Closet world headquarters!
<br><br>
<% if @box.box_type == Box::CUST_BOX_TYPE %>
We have measured your box, and found that it is a healthy <%= @box.cubic_feet.round(2) %> cubic feet in size.<br><br>
	<% if @box.inventorying_status != Box::NO_INVENTORYING_REQUESTED %>
	We also see that you have selected to inventory your box -- a fine idea! Our staff are hard at work processing your inventory, and will notify you when the process is complete.<br><br>
	<% end %>
Given this box's size and inventorying status, and the size of the boxes you already have in storage, your monthly fee to store this box will be <%= number_to_currency(@box.monthly_fee) %>. For the current month, the fee will be prorated starting on <%= @box.received_at.strftime("%m/%d/%Y") %>, the date it was received.
<% else %>
<% if @box.inventorying_status != Box::NO_INVENTORYING_REQUESTED %>
We see that you have selected to inventory your box -- a fine idea! Our staff are hard at work processing your inventory, and will notify you when the process is complete.<br><br>
<% end %>
Given this inventorying status, and the <%= @box.user.stored_box_count %> boxes you have in storage, your monthly fee to store this box will be <%= number_to_currency(@box.monthly_fee) %>. Your monthly fee may change if you change the number of boxes you have in storage (more boxes = cheaper fees). For the current month, the fee will be prorated starting on <%= @box.received_at.strftime("%m/%d/%Y") %>, the date it was received.
<% end %>
<br><br>
Thanks for using The Visible Closet, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>