Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
We just wanted to inform you that we have processed order lines for order <%= @order_lines[0].order.id %>. Here are some details:
<% if MiscHelper.contains_shipping_lines(@order_lines) %>
	<br><br>
	<ul>
	<% @order_lines.each do |order_line| %>
		<% if order_line.return_order_line? %>
			<li>Box <%= order_line.service_box.box_num %> shipped to: <br><br><%= raw address_summary order_line.shipment.to_address %></li>
		<% elsif order_line.vc_box? %>
			<li>Box(es) and shipping materials shipped to: <br><br><%= raw address_summary order_line.shipment.to_address %></li>
		<% elsif order_line.item_mailing? %>
			<li><%= image_tag(order_line.service_item.photo.url(:thumb), :name => "thumb_" + order_line.service_item.id.to_s, :height => 100, :width => 100) %> Item #<%= order_line.service_item_id %> mailed to: <br><br><%= raw address_summary order_line.shipment.to_address %></li>
		<% end %>
	<% end %>
	</ul>
<% end %>
<% if MiscHelper.contains_non_shipping_item_services(@order_lines) %>
	<br><br>The following item services have been completed:
	<br><br>
	<ul>
		<% @order_lines.each do |order_line| %>
			<% if order_line.product.donation? %>
				<li><%= image_tag(order_line.service_item.photo.url(:thumb), :name => "thumb_" + order_line.service_item.id.to_s, :height => 100, :width => 100) %> Item #<%= order_line.service_item_id %> donated to <%= order_line.service_item.donated_to %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>
<br><br>
<% if MiscHelper.contains_shipping_lines(@order_lines) %>
	You can track your packages using the following tracking numbers via fedex.com. Note that it may take up to 1 business day for FedEx to integrate these tracking numbers into the FedEx system.<br>
	<ul>
	<% @order_lines.each do |order_line| %>
		<% if order_line.shippable? %>
			<li>Tracking number: <%= raw tracking_url order_line.shipment.tracking_number, order_line.shipment.tracking_number %></li>
		<% end %>
	<% end %>
	</ul>
	<br><br>
<% end %>
Thanks for using The Visible Closet, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>