Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
We just wanted to inform you that we have prepared and shipped your packing materials for order <%= @shipment.order.id %>. They are being shipped to:
<br><br>
<%= @shipment.to_address.first_name %> <%= @shipment.to_address.last_name %><br>
<%= @shipment.to_address.address_line_1 %><br>
<%= raw "#{@shipment.to_address.address_line_2}<br>" if not @shipment.to_address.address_line_2.nil? %>
<%= @shipment.to_address.city %>, <%= @shipment.to_address.state %> <%= @shipment.to_address.zip%>
<br><br>
<% num_boxes = OrderLine.total_quantity(@order_lines) %>
This shipment contains <%= num_boxes %> empty box<%= "es" if num_boxes > 1 %>, with supplies.
<br><br>
<!-- 
You can track your package using tracking number <%= @shipment.tracking_number %> via <a href="http://www.fedex.com/Tracking?action=track&tracknumbers=<%= @shipment.tracking_number %>">fedex.com</a>.
<br><br> -->
Thanks for using The Visible Closet, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>