<br>
<table class="registration_table" style="width: 700px">
	<tr>
		<th>First Name:</th>
		<th>Last Name:</th>
		<% if @profile.new_record? %>
			<th>Card Number:</th>
		<% end %>
		<th style="width: 187px" colspan="2">Expiration:</th>
		<% if @profile.new_record? %>
			<th>CVV: <a href="/pcCardCode.html" id="cvv_link" title="Verification Value"style="font-size: 80%">(What's this?)</a></th>
		<% end %>
	</tr>
	<tr>
		<td>
			<%= f.text_field :first_name, :placeholder => "First Name", :class => "textbox" + (profile.errors[:first_name].empty? ? "": " error"), :style => "width: 100px;" %>
			<%= error_messages_for_attribute(profile, :first_name) %>
		</td>
		<td>
			<%= f.text_field :last_name, :placeholder => "Last Name", :class => "textbox" + (profile.errors[:last_name].empty? ? "": " error"), :style => "width: 100px;" %>
			<%= error_messages_for_attribute(profile, :last_name) %>
		</td>
		<% if @profile.new_record? %>
			<td>
				<%= f.text_field :number, :placeholder => "#################", :class => "textbox" + (profile.errors[:number].empty? ? "": " error"), :style => "width: 125px;" %>
				<%= error_messages_for_attribute(profile, :number) %>
			</td>
		<% end %>
		<td>
			<%= f.select :month, options_for_select(months_select_array, :selected => profile.month) %>
			<%= error_messages_for_attribute(profile, :month) %>
		</td>
		<td>
			<%= f.select :year, options_for_select(year_array, profile.year) %>
			<%= error_messages_for_attribute(profile, :year) %>
		</td>
		<% if @profile.new_record? %>
			<td>
				<%= f.text_field :verification_value, :placeholder => "###", :class => "textbox" + (profile.errors[:verification_value].empty? ? "": " error"), :style => "width: 40px;" %>
				<%= error_messages_for_attribute(profile, :verification_value) %>
			</td>
		<% end %>
	</tr>
	<tr><td colspan="6"><br><hr></td></tr>
</table>
<div style="width:700px; margin-left: auto; margin-right: auto">
	<% if current_user.payment_profile_count != 0 && @profile.new_record? %>
		Default Card?
		<%= hidden_field_tag :default, @force_default.nil? ? 0 : 1 %>
		<%= check_box_tag :default, 1, params[:default].nil? ? true : params[:default] == "1", :disabled => !@force_default.nil? %>
		<br><br>
	<% end %>
	<% if !@addresses.empty? %>
		<div style="text-align: left"><h1 style="font-size: 125%">Billing Address:</h1></div>
		<%= error_messages_for_attribute(profile, :billing_address) %><br>
		<%= render :partial => "addresses/address_list" %> 
	<% end %>
	<div style="display: <%= (params[:payment_profile].nil? ? false : params[:payment_profile][:billing_address_id] == "on") ? 'block' : 'none' %>" id="billing_address_div">
		<br>
			<%= f.fields_for :billing_address, @new_address do |address_form| %>
			<table class="registration_table">
				<% @address = @profile.billing_address %>
				<%= render :partial => "addresses/new_form_guts", :locals => { :f => address_form, :show_address_name => false } %>
			</table>
			<% end # billing address form %>
	</div>
	<br>
