<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div class="simple_header">Credit Card Maintenance</div>
<div id="internal-right">
	<% if not @messages.nil? and @messages.size > 0 %>
		<% @messages.each do |message| %>
		<div class="error_label"><%= message %></div>
		<% end %>
	<% end %>
	<% profiles = current_user.active_payment_profiles %>
	<% if profiles.size == 0 %>
	You have no payment methods on file. <a href="/payment_profiles/new">Click here to add one</a>.
	<% else %>
		<div class="graybox">
			<table>
				<thead style="font-size: 125%">
					<tr>
						<td>Type</td>
						<td>Number</td>
						<td>Exp Date</td>
						<td>Cardholder Name</td>
						<td>Billing Address</td>
						<td>Default?</td>
						<td>Edit?</td>
						<td>Delete?</td>
					</tr>
				</thead>
				<tbody class="top-line bottom-line">
			<% profiles.each do |profile| %>
			<% address = profile.billing_address %>
			<tr>
				<td><%= profile.cc_type %></td>
				<td>************<%= profile.last_four_digits %></td>
				<td><%= profile.month %>/<%= profile.year %></td>
				<td><%= profile.first_name %> <%= profile.last_name %></td>
				<td>
					<% if !address.nil? %>
					<%= raw address_summary address %>
					<% end %>
				</td>
				<td>
					<% if current_user.default_payment_profile_id == profile.id  %>
						Default 
					<% else %>
						<a href="/payment_profiles/<%=profile.id%>/set_default">Set Default</a> 
					<% end %>
				</td>
				<td>
					<a href="/payment_profiles/<%=profile.id%>/edit">Edit</a>
				</td>
				<td>
				<% if current_user.default_payment_profile_id == profile.id %>
				Cannot delete default
				<% else %>
				<%= link_to("Delete", { :action => "destroy", :id => profile },
				  :confirm => "Are you sure you want to delete this card?",
				  :method => :delete) %>
				<% end %>
				</td>
			</tr>
			<% end %>
			</tbody>	
			</table>
			<div style="text-align: right; width: 100%"><br><a href="/payment_profiles/new">Add new payment method</a>
			<% if !current_user.cart.nil? && !current_user.cart.empty? %>
			| <a href="/account/check_out">To Checkout</a>
			<% end %>
			</div>
		</div><br>
		
	<% end %>
</div>
<div class="clearer"></div>