<div style="width: 100%; text-align: center">
	<% if current_user.order_count == 0 %>
		<img src="/images/breadcrumb3.jpg">
	<% end %>
<br><br>
<h1>Default Billing Information</h1>
<% if @profile.errors.empty? %>
	Please enter information for the default card you want to use for all payments. You may change this later if you wish. <br>Credit card information is stored safely and securely with Authorize.net.
<% else %>
	<div class="error_label">
		There <%= @profile.errors.size > 1 ? "were a few errors" : "was an error" %> with the information you entered ... see below:<br><br>
		<% @profile.errors.each do |attr, msg| %>
			<%= raw attr %> <%= raw msg %><br>
		<% end %>
	</div>
<% end %>
<br><br>
<%= form_for @profile, :url => "/payment_profiles/create_default_payment_profile", :html => { :class => "registration", :onsubmit => "cf_submit.disabled=true;" } do |f| %>
	<%= render :partial => "payment_profiles/form_cc_guts", :locals => { :f => f, :profile => @profile } %>
	<div style="text-align: right; margin-right: 50px"><br>
	<%= f.submit "Save and Continue", :class => "button", :id => "cf_submit", :onclick => "return formMonitor();" %>
	</div>
	<br><br>
<% end %>
</div>