<% active_class_str = " class='active'" %>
<% orders_class = ""; materials_class = ""; receiving_class = ""; inventorying_class = ""; users_class = "" ; marketing_class = "" %>
<% case @admin_page %>
<% when :orders %>
<%   orders_class = active_class_str %>
<% when :shipping %>
<%   shipping_class = active_class_str %>
<% when :receiving %>
<%   receiving_class = active_class_str %>
<% when :inventorying %>
<%   inventorying_class = active_class_str %>
<% when :legal %>
<%   legal_class = active_class_str %>
<% when :users %>
<%   users_class = active_class_str %>
<% when :monthly_charges %>
<%   monthly_charges_class = active_class_str %>
<% when :marketing %>
<%   marketing_class = active_class_str %>
<% end %>
<div id="internal-left">
    <div id="side-menu">
		<h2>Admin</h2>
		<ul>
		  <li<%= orders_class %>><a href="/admin/process_orders">All orders</a></li>
		  <li<%= shipping_class %>><a href="/admin/shipping">Shipping</a></li>
		  <li<%= receiving_class %>><a href="/boxes/receive_box">Receiving</a></li>
		  <li<%= inventorying_class %>><a href="/boxes/inventory_boxes">Inventorying</a></li>
		  <li<%= users_class %>><a href="/admin/users">CRM</a></li>
		  <li<%= monthly_charges_class %>><a href="/admin/monthly_charges">Monthly Charges</a></li>
		  <li<%= marketing_class %>><a href="/offers">Marketing</a></li>
			<% if current_user.role == User::ADMIN %>
		  <li<%= legal_class %>><a href="/rental_agreement_versions">Legal Maint.</a></li>
		<% end %>
		</ul>
	</div>
</div>
