<%= render "admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">
	<h1>Box #<%= @box.id %> (for user <%= @box.user.first_name %> <%= @box.user.last_name %>)</h1><br>
<table class="lightly_padded_table" border="1">
	<tr>
		<td><b>Created At: </b></td><td><%= @box.created_at.strftime('%m/%d/%Y %l:%M %p') %></td>
	</tr>
	<tr>
		<% if @box.ordering_order %>
			<td><b>Ordering Order Id: </b></td><td>
			<a href="/admin/user/<%= @user.id %>/orders/<%= @box.ordering_order.id %>"><%= @box.ordering_order.id %></a>
		<% else %>
			<td><b>Created by administrator:</b></td>
			<td><%= @box.created_by.first_name %> <%= @box.created_by.last_name %>
		<% end %>
		</td>
	</tr>
	<tr>
		<td><b>Inventorying Order Id: </b></td>
		<td>
			<% if @box.inventorying_order.nil? %>
				NA
			<% else %>
				<a href="/admin/user/<%= @user.id %>/orders/<%= @box.inventorying_order.id %>"><%= @box.inventorying_order.id %></a>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><b>Status: </b></td><td><%= @box.status_en %></td>
	</tr>
	<tr>
		<td><b>Inventorying Status: </b></td><td><%= @box.inventorying_status %></td>
	</tr>
	<tr>
		<td><b>Type: </b></td><td><%= @box.box_type_en %></td>
	</tr>
	<tr>
		<td><b>Customer Box Number: </b></td><td><%= @box.box_num %></td>
	</tr>
	<tr>
		<td><b>Height: </b></td><td><%= @box.height.nil? ? "?" : pluralize(@box.height, "inch") %></td>
	</tr>
	<tr>
		<td><b>Width: </b></td><td><%= @box.width.nil? ? "?" : pluralize(@box.width, "inch") %></td>
	</tr>
	<tr>
		<td><b>Length: </b></td><td><%= @box.length.nil? ? "?" : pluralize(@box.length, "inch") %></td>
	</tr>
	<tr>
		<td><b>Cubic Feet: </b></td><td><%= @box.cubic_feet.nil? ? "?" : pluralize(@box.cubic_feet, "foot") %></td>
	</tr>
	<tr>
		<td><b>Weight: </b></td><td><%= @box.weight.nil? ? "?" : pluralize(@box.weight, "lb") %></td>
	</tr>
	<tr>
		<td><b>Location: </b></td><td><%= @box.location.nil? ? "?" : @box.location %></td>
	</tr>
	<tr>
		<td><b>Received On: </b></td><td><%= @box.received_at.nil? ? "NA" : (@box.received_at.strftime "%m/%d/%Y") %></td>
	</tr>
	<tr>
		<td><b>Return Requested On: </b></td><td><%= @box.return_requested_at.nil? ? "NA" : (@box.return_requested_at.strftime "%m/%d/%Y") %></td>
	</tr>
	<tr>
		<td><b>Shipments: </b></td>
		<td>
			<% if @box.shipments.empty? %>
				None
			<% else %>
				<% @box.shipments.each_with_index do |shipment, index| %>
					<% if index > 0 %>
					, 
					<% end %>
					<a href="/admin/shipment/<%= shipment.id %>"><%= shipment.id %></a><br>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><b>Manual Return:</b></td>
		<% if @box.status == Box::IN_STORAGE_STATUS %>
			<td>
				<%= form_tag "/admin/user/#{@user.id}/boxes/#{@box.id}/manual_return" do %>
				Return box as of <%= text_field_tag "return_date", params[:return_date].blank? ? Date.today.strftime("%B %d, %Y") : params[:return_date] %> <%= submit_tag "Submit", :confirm => "This will mark the box as returned with the indicated date. Are you SURE?" %>
				<% end %>
				<% if @errors and @errors.any? %>
					<div class="error_label">
					<br>There were errors:<br>
					<% @errors.each do |error| %>
						<%= error %> <br>
					<% end %>
					</div>
				<% end %>
			</td>
		<% else %>
			<td>NA</td>
		<% end %>
	</tr>
	<tr>
		<td>
			<% if @last_box_id %>
				<a href="/admin/user/<%= @user.id %>/boxes/<%= @last_box_id %>">&lt;&lt;previous</a>
			<% end %>
		</td>
		<td>
			<% if @next_box_id %>
				<a href="/admin/user/<%= @user.id %>/boxes/<%= @next_box_id %>">next&gt;&gt;</a>
			<% end %>			
		</td>
	</tr>
</table>

<br><hr>
<b>Stored Items:</b><br><br>
<table class="prices_table">
<% @box.stored_items.each_with_index do |stored_item, index| %>
	<% if (index) % 3 == 0 %>
		<tr>
	<% end %>
	<td>
	<b>Item# <%= stored_item.id %></b><br>
	<div class="imgteaser"> 
	<%= image_tag(stored_item.photo.url(:thumb)) %>
	<% if stored_item.stored_item_tags.size > 0 %>
	<br>Tags:<br>
	<% stored_item.stored_item_tags.each_with_index do |tag, index| %>
		<% if index > 0 %>
		 | 
		<% end %>
		<%= tag.tag %>
	<% end %>
	<% end %>
	</div>
	</td>
	<% if (index + 1) % 3 == 0 %>
		</tr>
	<% end %>
<% end %>
<% if @box.stored_items.size > 0 && @box.stored_items.size % 3 != 0 %>
</tr>
<% end %>
</table>
<br>
</div>
<div class="clearer"></div>
