<%= render "admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">
	<h1>Current Account Balances for all Users</h1><br>
	This is the current state, NOT the state assuming anticipated charges. Users may have storage charges that are not yet assessed.
	<table class="lightly_padded_table">
		<tr>
			<th>User id</th>
			<th>User Name</th>
			<th>Account Balance INCLUDING Rectify Payments</th>
			<th>Account Balance IGNORING Rectify Payments</th>
		</tr>
		<% @users.each do |user| %>
		<% style_string = user.test_user? ? " style='background: #FF99FF'" : "" %>
		<tr<%=style_string%>>
			<td style="text-align: center"><a href="/admin/user/<%= user.id %>"><%= user.id %></a></td>
			<td style="text-align: center"><%= user.first_name %> <%= user.last_name %></td>
			<td style="text-align: center"><%= number_to_currency user.current_account_balance %></td>
			<td style="text-align: center"><%= number_to_currency user.current_account_balance_ignore_rectify %></td>
		<% end %>
	</table>
</div>
<div class="clearer"></div>
