<%= render "admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">
	<h1>
		<%= raw @user.test_user? ? "<span style='color: red'>": ""%>User #<%= @user.id %><%= raw @user.test_user? ? " TEST USER</span>": ""%>
	</h1><br>
<table class="lightly_padded_table">
	<tr>
		<td><b>First Name: </b></td><td><%= @user.first_name %></td>
	</tr>
	<tr>
		<td><b>Last Name: </b></td><td><%= @user.last_name %></td>
	</tr>
	<tr>
		<td><b>Email: </b></td><td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
	</tr>
	<tr>
		<td><b>Sign In Count: </b></td><td><%= @user.sign_in_count %></td>
	</tr>
	<tr>
		<td><b>Last Signed In: </b></td><td><%= @user.last_sign_in_at.strftime('%m/%d/%Y %l:%M %p') if !@user.last_sign_in_at.nil? %></td>
	</tr>
	<tr>
		<td><b>Confirmed At: </b></td><td><%= @user.confirmed_at.strftime('%m/%d/%Y %l:%M %p') if !@user.confirmed_at.nil? %></td>
	</tr>
	<tr>
		<td><b>Failed Attempts: </b></td><td><%= @user.failed_attempts %></td>
	</tr>
	<tr>
		<td><b>Locked At: </b></td><td><%= @user.locked_at.strftime('%m/%d/%Y %l:%M %p') if !@user.locked_at.nil? %></td>
	</tr>
	<tr>
		<td><b>Role: </b></td><td><%= @user.role %></td>
	</tr>
	<tr>
		<td><b>CIM Identifier: </b></td><td><%= @user.cim_id %></td>
	</tr>
	<tr>
		<td><b>Test User? </b></td><td><%= @user.test_user? %> <a href="/admin/user/<%= @user.id %>/switch_test_user_status">(toggle)</a></td>
	</tr>
	<tr>
		<td><b>Want to sign in as this user?</td>
		<td>
			<% if @user.normal_user? %>
				<%= link_to "Let's do it.", "/admin/impersonate_user/#{@user.id}" %>
			<% else %>
				Too bad. You can only switch to regular users, not admins or managers.
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2"><b>Offers:</b></td>
	</tr>
	<tr>
		<td colspan="2">
			<table class="prices_table">
				<tr>
					<th>Identifier</th>
					<th>Description</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					<th>Offer Used</th>
					<th>Offer Remaining</th>
					<th>Dissociate?</th>
				</tr>
				<% @user.user_offers.each do |user_offer| %>
					<tr>
						<td><%= user_offer.unique_identifier %></td>
						<td><%= user_offer.benefits_description %></td>
						<td><%= user_offer.start_date.strftime '%m/%d/%Y' %></td>
						<td><%= user_offer.expiration_date.strftime '%m/%d/%Y' %></td>
						<td>
							<% user_offer.benefit_used_messages.each_with_index do |msg, index| %>
								<% if index > 0 %>
								, 
								<% end %>
								<%= msg %>
							<% end %>
						</td>
						<td>
							<% user_offer.benefit_remaining_messages.each_with_index do |msg, index| %>
								<% if index > 0 %>
								, 
								<% end %>
								<%= msg %>
							<% end %>
						</td>
						<td>
							<% if user_offer.used? %>
								NA - already applied
							<% else %>
								<a href="/admin/<%= user_offer.id %>/dissociate_offer_from_user">Dissociate</a>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</td>
	</tr>
	<tr><td colspan="2"><br></td></tr>
	<tr>
		<td colspan="2">
			<a href="/admin/users/<%=@user.id%>/create_customer_boxes">Manually add customer boxes &gt;&gt;</a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="/admin/users/<%=@user.id%>/furniture">Manage customer furniture &gt;&gt;</a></td>
	</tr>
</table>

<br><hr>
<b>Addresses:</b><br><br>
<table class="prices_table">
<% @user.addresses.each_with_index do |address, index| %>
	<% if (index) % 3 == 0 %>
		<tr>
	<% end %>
	<td>
	<b>Address <%= address.id %></b><br><%= raw address_summary(address, true, true, true) %>
	<% if address.id == @user.default_shipping_address_id %>
		<br><b>(Default shipping address)</b>
	<% end %>
	</td>
	<% if (index + 1) % 3 == 0 %>
		</tr>
	<% end %>
<% end %>
<% if @user.addresses.size > 0 && @user.addresses.size % 3 != 0 %>
</tr>
<% end %>
</table>
<br>
<div style="text-align: right; margin-right: 100px	"><a href="/admin/user/<%= @user.id %>/new_address">New Address &gt;&gt;</a></div>
</div>
<div class="clearer"></div>
