<%= render "admin_menu", :locals => { :admin_page => @admin_page }%>

<% @errors = Array.new unless @errors %>

<div id="internal-right">
	<h1>Billing & Payment History for User #<%= @user.id %> (<%= @user.first_name %> <%= @user.last_name %>)</h1><br>
	<% if !@errors.empty? %>
		<div class="error_label">
			Please correct the following errors:
			<ul>
				<% @errors.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			<br>
		</div>
	<% end %>
	<table class="lightly_padded_table">
		<tr>
			<th style="text-align: center"><b>Date</b></th>
			<th style="text-align: center"><b>Txion Id</b></th>
			<th style="width: 250px; text-align: center"><b>Description</b></th>
			<th style="text-align: center"><b>Debit</b></th>
			<th style="text-align: center"><b>Credit</b></th>
			<th style="text-align: center"><b>Running Total</b></th>
			<th style="text-align: center"><b>Delete?</td></th>
		</tr>
		<% running_total = 0.0 %>
		<% @transactions.each do |transaction| %>
		<tr>
			<td style="text-align: center"><%= transaction.created_at.strftime('%m/%d/%Y %l:%M %p') %></td>
			<td style="text-align: center"><%= transaction.id %></td>
			<td style="text-align: center">
				<% if transaction.credit? && transaction.core_transaction.payment_transaction %>
					payment - card ending in <%= transaction.core_transaction.payment_transaction.payment_profile.last_four_digits %>
				<% elsif transaction.credit? %>
					credit for "<%= transaction.core_transaction.description %>"
				<% else %>
					charge for 
				  	<% if transaction.core_transaction.shipment_id %>
						shipment <a href="/admin/shipment/<%= transaction.core_transaction.shipment_id %>">#<%= transaction.core_transaction.shipment_id %></a>
					<% elsif transaction.core_transaction.order_id && transaction.core_transaction.product_id %>
						order <a href="/admin/user/<%= @user.id %>/orders/<%= transaction.core_transaction.order_id %>">#<%= transaction.core_transaction.order_id %></a> for product <%= transaction.core_transaction.product.name %>
					<% elsif transaction.core_transaction.order_id %>
						shipping for order <a href="/admin/user/<%= @user.id %>/orders/<%= transaction.core_transaction.order_id %>">#<%= transaction.core_transaction.order_id %></a>
				   	<% elsif transaction.core_transaction.storage_charge %>
						<% chargeable_unit_type = transaction.core_transaction.storage_charge.chargeable_unit_properties.chargeable_unit_type.downcase %>
						storage of <%= chargeable_unit_type %> <a href="/admin/user/<%= @user.id %>/<%= no_num_pluralize 2, chargeable_unit_type %>/<%= transaction.core_transaction.storage_charge.chargeable_unit.id %>">#<%= transaction.core_transaction.storage_charge.chargeable_unit.id %></a> from <%= transaction.core_transaction.storage_charge.start_date.strftime "%m/%d/%Y" %> to <%= transaction.core_transaction.storage_charge.end_date.strftime "%m/%d/%Y" %>
					<% else %>
						"<%= transaction.core_transaction.comments %>"
				  <% end %>
				<% end %>
			</td>
			<td style="text-align: center"><%= number_to_currency transaction.debit %></td>
			<td style="text-align: center"><%= number_to_currency transaction.credit %></td>
			<% running_total += transaction.value %></td>
			<td style="text-align: center"><%= number_to_currency running_total %></td>
			<td style="text-align: center">
				<% if transaction.deletable? %>
					<% transaction_type = transaction.credit? ? "credits" : "charges" %>
					<a href="/admin/billing/<%=transaction_type%>/<%=transaction.id%>/destroy" data-confirm="Are you sure?">Delete</a>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<br>
	<hr>
	<table class="lightly_padded_table">
	<%= form_tag("/admin/users/#{@user.id}/add_charge", :class => "standard", :onsubmit => "new_charge_submit.disabled=true;") do %>
		<tr>
			<td colspan="5"><b><u>Create new charge</u></b></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td><%= text_field_tag :new_charge_amount, params[:new_charge_amount], :class => "textbox" %></td>
			<td>Comment:</td>
			<td><%= text_field_tag :new_charge_comment, params[:new_charge_comment], :class => "textbox" %></td>
			<td><%= submit_tag "Create Charge", :class => "button",  :id => "new_charge_submit", :onclick => "return confirm('Are you sure? This will create a charge for this customer, though the customer\\'s credit card will not be charged. Your name (#{current_user.first_name} #{current_user.last_name}) will be recorded for auditing purposes.')" %></td>
		</tr>
		<tr>
			<td colspan="5"><br></td>
		</tr>
	<% end %>

	<%= form_tag "/admin/users/#{@user.id}/add_credit", :class => "standard", :onsubmit => "new_credit_submit.disabled=true;" do %>
		<tr>
			<td colspan="5"><b><u>Create new credit</u></b></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td><%= text_field_tag :new_credit_amount, params[:new_credit_amount], :class => "textbox" %></td>
			<td>Comment:</td>
			<td><%= text_field_tag :new_credit_comment, params[:new_credit_comment], :class => "textbox" %></td>
			<td><%= submit_tag "Create Credit", :class => "button",  :id => "new_credit_submit", :onclick => "return confirm('Are you sure? This will create a credit on the customer\\'s account, NOT a credit card payment. Your name (#{current_user.first_name} #{current_user.last_name}) will be recorded for auditing purposes.')" %></td>
		</tr>
		<tr>
			<td colspan="5"><br></td>
		</tr>
	<% end %>
	<%= form_tag "/admin/users/#{@user.id}/refund_customer_card" do %>
		<tr>
			<td colspan="5"><b><u>Refund customer credit card</u></b></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td><%= text_field_tag :amount, params[:amount], :class => "textbox" %></td>
			<td>Comment:</td>
			<td colspan="2"><%= text_field_tag :comment, params[:comment], :class => "textbox" %></td>
		</tr>
		<tr>
			<td>Card #:</td>
			<td><%= text_field_tag :cc_number, params[:cc_number], :placeholder => "#################", :class => "textbox" %></td>
			<td>Expiration:</td>
			<td><%= select_tag :month, options_for_select(months_select_array, :selected => params[:month]) %></td>
			<td><%= select_tag :year, options_for_select(year_array, :selected => params[:year]) %></td>
		</tr>
		<tr>
			<td>Security Code:</td>
			<td><%= text_field_tag :verification_value, params[:verification_value], :placeholder => "###", :class => "textbox", :style => "width: 30px;" %></td>
			<td colspan="3">TBD<% submit_tag "Create Refund", :confirm => "Are you sure? If you want to cancel an order line you need to go into the order screen. Your name (#{current_user.first_name} #{current_user.last_name}) will be recorded for auditing purposes if you continue." %></td>
		</tr>
	<% end %>
	</table>

</div>
<div class="clearer"></div>
