<div class="login-slim-centered">
<h1>Forgot your password?</h1>
<br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "standard" }) do |f| %>
  <%= devise_error_messages! %>

	<div class="field clearfix">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "textbox" %>
</div>

<div class="field clearfix">
<%= f.submit "Send me reset password instructions", :class => "button"  %>
</div>
<br>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>