<%= form_for(@box, :html => { :class => "standard" }) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field clearfix">
  <%= f.label "Box Description" %>
</div>
<br>  <%= f.text_area :description, :cols => 40, :rows =>10 %>
  <%= f.submit :class => "button" %>
<% end %>