<% @menu_page = :boxes %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
        <p class="browse-headline bottom-border">You currently have <strong><%= @boxes.size %></strong> active boxes. <a href="/account/store_more_boxes">Click here to add more.</a> 
	<% if @boxes.size > 0 %>
		Mouse over a box for options.
	<% end %></p>
	<% @boxes.each_with_index do |box, index| %>
		<% if index % 3 == 0 && index != 0 %>
	    <!-- DIVIDER -->
	    <div class="clearer bottom-border"></div>
	    <!-- END DIVIDER -->		
		<% end %>

        <!-- BROWSE BOX -->
        <div class="browse-box">
            <p class="browse-box-name">Box <%= box.box_num %></p>
            <p>
			<% if box.description %>
				<div style="width: 155; height: 1.3em; overflow: hidden"><%= box.description %></div>
			<% else %>
				<i>no description</i>
			<% end %>
			</p>
			<% if box.status == Box::NEW_STATUS && box.box_type == Box::VC_BOX_TYPE %>
				<% image_file = "status-inventory-to-you" %>
				<% alt = "In Transit" %>
			<% elsif box.status == Box::IN_TRANSIT_TO_YOU_STATUS %>
				<% image_file = "status-inventory-to-you" %>
				<% alt = "In Transit" %>
			<% elsif box.status == Box::RETURN_REQUESTED_STATUS %>
				<% image_file = "status-inventory-to-you" %>
				<% alt = "In Transit" %>	
			<% elsif box.status == Box::RETURNED_STATUS %>
				<% image_file = "returned_box" %>
				<% alt = "Returned" %>
			<% elsif box.status == Box::IN_TRANSIT_TO_TVC_STATUS %>
				<% image_file = "status-inventory-to-us" %>
				<% alt = "In Transit" %>			
			<% elsif box.status == Box::IN_STORAGE_STATUS && (box.inventorying_status == Box::NO_INVENTORYING_REQUESTED || box.inventorying_status.nil?) %>
				<% image_file = "status-inventory-storage" %>
				<% alt = "In Storage" %>
			<% elsif box.status == Box::IN_STORAGE_STATUS && box.inventorying_status == Box::INVENTORYING_REQUESTED %>
				<% image_file = "status-inventory-processing" %>
				<% alt = "Inventory Being Processed" %>
			<% elsif box.status == Box::IN_STORAGE_STATUS && box.inventorying_status == Box::INVENTORIED %>
				<% image_file = "status-inventory-complete" %>
				<% alt = "Inventory Complete" %>
			<% elsif box.status == Box::BEING_PREPARED_STATUS %>
				<% image_file = "status-inventory-packed" %>
				<% alt = "Being Prepared by You" %>
			<% end %>
			
			<% if !current_user.cart.nil? && current_user.cart.contains_return_request_for(box) %>
				<% image_file += "-rr" %>
			<% end %>
			
            <img src="/images/<%= image_file %>.jpg" alt="<%= alt %>" id="box_img_<%=box.id%>"/>
            <p><strong>Status: </strong><%= box.status_en %></p>
            <p><strong>Number of Items: </strong>
			<% if box.inventorying_status == Box::INVENTORIED %>
				<%= box.item_count %></p>
			<% else %>
				Unknown
			<% end %>
			<% if box.status == Box::IN_STORAGE_STATUS %>
			<p><strong>Date Received: </strong><%=box.received_at.blank? ? "unknown" : box.received_at.strftime('%m/%d/%Y')%></p>
			<% elsif box.received_at.nil? %>
				<p><strong>Date Ordered: </strong><%=box.created_at.strftime('%m/%d/%Y')%></p>
			<% else %>
				<p><strong>Return Requested: </strong><%= box.return_requested_at.strftime('%m/%d/%Y')%></p>
			<% end %>
            <div class="browse-box-menu">
                <div class="browse-box-menu-contents" id="box_<%=box.id%>_menu">
                    <p class="browse-box-menu-contents-head">Box Options</p>
                    <ul id="box_<%= box.id %>_menu_list">
                        <li><a href="/boxes/<%= box.id %>/edit">edit description</a></li>
						<% if box.status == Box::IN_STORAGE_STATUS && (current_user.cart.nil? || !current_user.cart.contains_return_request_for(box)) %>
                        	<li><%= link_to "return this box", "/boxes/#{box.id}/request_box_return", :remote => true, :id => "box_#{box.id}_return_link" %></li>
						<% elsif !current_user.cart.nil? && current_user.cart.contains_return_request_for(box) %>
							<li><%= link_to "cancel return request", "/boxes/#{box.id}/cancel_box_return_request", :remote => true, :id => "box_#{box.id}_return_link" %></li>
							<li id="box_<%= box.id %>_checkout"><a href="/account/check_out">proceed to checkout</a></li>
						<% end %>
						<% if box.status == Box::IN_STORAGE_STATUS && box.inventorying_status == Box::NO_INVENTORYING_REQUESTED %>
							<li id="box_<%= box.id %>_inv_req">
								<%= render :partial => "inv_req_link", :locals => { :box => box } %>
							</li>
						<% end %>
						<% if box.inventorying_status == Box::INVENTORIED %>
                        <li><a href="/boxes/<%= box.id %>/stored_items">view inventory</a></li>
						<% end %>
						<% if box.box_type == Box::CUST_BOX_TYPE && box.status == Box::BEING_PREPARED_STATUS %>
							<li>
								<% if !current_user.gets_labels_emailed? %>
									<a href="/box/<%=box.id%>/get_label" onclick="alert('This will download a PDF of a FedEx label for you to print. Call 1-800-GO-FEDEX to have FedEx pick up your package. Be sure to mark the \'inventorying\' checkbox on the label if you would like us to inventory your box!')">shipping label</a>
								<% else %>
									<% if box.last_shipment_to_tvc && box.last_shipment_to_tvc.last_label_emailed %>
										<%= link_to "shipping label", "/boxes/#{box.id}/email_shipping_label", :remote => true, :id => "box_#{box.id}_label_link", :confirm => "This box's label was emailed to you on #{box.last_shipment_to_tvc.last_label_emailed.strftime '%m/%d/%Y'}; click ok to cancel this label and issue another one, or cancel to do nothing." %>
									<% else %>
										<%= link_to "shipping label", "/boxes/#{box.id}/email_shipping_label", :remote => true, :id => "box_#{box.id}_label_link" %>
									<% end %>
								<% end %>
								</li>
						<% end %>                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- END BROWSE BOX -->
		
	<% end %>        
    </div>
<div class="clearer"></div>
<div style="display: none">
	<a href="#first_box_return_div" id="first_box_return_link"></a>
	<div id="first_box_return_div" style="width: 500px; border: 1px solid black; padding: 5px 5px 5px 5px; text-align: center">
		You have selected to return a box to you. No problem! You can choose to select more boxes to return, or you can proceed to checkout immediately to see the total estimated shipping cost and indicate where we should ship your box(es).
		<br><br>
		If you choose to select more boxes to return, simply click the "cart" box at the top of the screen to proceed to checkout.
		<br><br>
		What would you like to do?<br><br>
		<%= form_tag "/account/check_out", :class => "standard", :method => "get" do  %>
			<input type="submit" class="button" value="Return More Boxes" onclick="$.fancybox.close(); return false;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" class="button" value="Go to Checkout">
		<% end %>
	</div>
</div>