<% @admin_page = :receiving %>
<%= render :partial => "admin/admin_menu", :locals => { :admin_page => @admin_page } %>
<div id="internal-right">
	<div class="login-slim-centered">
	<div class="simple_header">Box Receiving</div>
		<% if @messages.size > 0 %>
			<ul>
				<% @messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		
		<% if @error_messages.size > 0 %>
			<div class="error_label">
				<ul>
					<% @error_messages.each do |error_message| %>
						<li><%= error_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>		
		<br><br><br>
		<%= form_tag "", :class => "standard", :id => "box_form", :onsubmit => "cf_submit.disabled=true;" do %>
			<div class="field clearfix">
				Box ID:
				<%= text_field_tag :box_id, "", :class => "textbox", :value => params[:box_id] %>
			</div>
			<div class="field clearfix">
				Box dimensions (w/l/h) in INCHES:
				<%= text_field_tag :width, "", :class => "textbox", :style => "width: 6", :placeholder => "width", :value => params[:width] %>
				<%= text_field_tag :length, "", :class => "textbox", :style => "width: 6", :placeholder => "length", :value => params[:length] %>
				<%= text_field_tag :height, "", :class => "textbox", :style => "width: 6", :placeholder => "height", :value => params[:height] %> 
			</div>
			<div class="field clearfix">
				Box weight in lbs:
				<%= text_field_tag :weight, "", :class => "textbox", :style => "width: 6", :placeholder => "weight", :value => params[:weight] %>&nbsp;
			</div>
			<div class="field clearfix">
				Box storage location:
				<%= text_field_tag :location, "", :class => "textbox", :style => "width: 6", :placeholder => "location", :value => params[:location] %>&nbsp;
			</div>
			<div class="field clearfix">
				Box marked for inventorying:
				<%= check_box_tag :marked_for_inventorying, "1", !params[:marked_for_inventorying].nil? %>
			</div>
			<div class="field clearfix">
				<%= submit_tag :submit, :class => "button", :id => "cf_submit", :onclick => "return formMonitor();" %>
			</div>
		<% end %>		
<script type="text/javascript" language="JavaScript">
document.forms['box_form'].elements['box_id'].focus();
</script>
</div>
</div>
<div class="clearer"></div>
