<% @admin_page = :shipping %>
<%= render :partial => "admin/admin_menu", :locals => { :admin_page => @admin_page } %>
<% @ordered_boxes = Box.find_by_ordering_order_lines(@order_lines) %>
<% @returned_boxes = Box.find_by_service_order_lines(@order_lines) %>
<div id="internal-right">
	<div class="simple_header">Shipping information</div>
	<div class="simple_body">
		<br>
		<% if @ordered_boxes.size > 0 %>
			Next steps: shipping materials
			<ol>
				<li>Gather <%= pluralize(@ordered_boxes.size, 'box') %>.</li>
				<li>A Fedex email label has been sent for each of these boxes to the administrator account. Log into that account and click the links to print the labels. Put those in pouches and affix each to each box.</li>
				<li>Get a shipping bag, and put the boxes in the bag.</li>
				<li>Cut 12 feet of bubble wrap and put it in the bag</li>
				<li>Get a roll of tape and put it in the bag</li>
				<li>Click <a href="/admin/invoices/<%= @order.invoices[0].id %>" target="new">here</a> to create an invoice and print it. Put it in the bag.</li>
				<li>Seal the bag.</li>
				<li>A label has been created for shipping the bag. Click <a href="/shipment/<%= @ordered_boxes[0].ordering_order_line.shipment.id %>/get_label">here</a> to access it, and print it to the label printer.</li>
				<li>Place the bag in the "ready" area for FedEx</li>
			</ol><br>
		<% else %>
		(nothing ordered)
		<% end # end ordered_boxes size check %>
		<% if @returned_boxes.size > 0 %>
			Next steps: returning boxes
			<ol>
				<li>Find the following boxes and attach the following labels, then send them off:
					<ul>
						<% @returned_boxes.each do |box| %>
							<li>Box id <%= box.id %>: <a href="/shipment/<%= box.servicing_order_line.shipment_id %>/get_label">label</a>, Location: <%= box.location %>
							</li>
						<% end %>
					</ul>
				</li>
			</ol>
		<% else %>
		<br>(nothing returned)
		<% end # end returned_boxes size check %>
		<% if MiscHelper.contains_item_mailings(@order_lines) %>
			<br><br>You have now processed order line(s) for mailing items, which means you should have already packed the boxes. 
			<% if @order_lines.first.service_item.shipment.tracking_number %>
			Click <a href="/shipment/<%=@order_lines.first.service_item.shipment_id%>/get_label">here</a> to print the FedEx address label to affix to the box and send it off. 
			<% else %>
			The address was insufficient to generate a shipping label, so you will need to do that via the fedex website.
			<% end %>
			The customer has been emailed to indicate that the items are on their way.
		<% end %>
	</div>
	<% if MiscHelper.contains_non_shipping_item_services(@order_lines) %>
		<div class="simple_header">Item processing information</div>
		<div class="simple_body" style="width: 7300px">
			<ul>
			<% @order_lines.each do |order_line| %>
				<% if order_line.product.donation? %>
					<li style="vertical-align: middle"><%= image_tag(order_line.service_item.photo.url(:thumb), :name => "thumb_" + order_line.service_item.id.to_s, :height => 100, :width => 100) %> Item <%= order_line.service_item_id %> donated to <%= order_line.service_item.donated_to %>; user emailed at <a href="mailto:<%= order_line.order.user.email %>"><%= order_line.order.user.email %></a>.</li>
				<% end %>
			<% end %>
			</ul>
		</div>
	<% end %>
</div>
<div class="clearer"></div>
