<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<style>
.indent-div {
	padding-left: 15px;
}
</style>
<div id="internal-right">
	<h1>Order <%= @order.id %></h1>
	<table class="lightly_padded_table">
		<tr>
			<td style="width: 80px"><b>Created At:</b></td>
			<td><%= @order.created_at.strftime "%m/%d/%Y" %></td>
		</tr>
		<tr>
			<td><b>Status:</b></td>
			<td><%= @order.status %></td>
		</tr>
		<tr>
			<td><b>Total Paid:</b></td>
			<td>
				<% @order.payment_transactions.each do |payment| %>
					<%= payment.credit.nil? ? "" : number_to_currency(payment.credit.amount) %>
					<% if payment.credit && payment.credit.amount < 0 %>
						 (refund)
					<% end %>
					<br>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><b>Invoice:</b></td>
			<td><a href="/orders/<%= @order.id %>/print_invoice">Print Invoice</a></td>
		</tr>
		<tr>
			<td colspan="2"><b>Order Lines:</b></td>
		</tr>
		<tr>
			<td colspan="2"><br>
				<table class="right_pad_table">
					<% if @order.order_lines.size > 0 %>
						<tr>
							<th>Item Ordered</b></th>
							<th>Quantity</th>
							<th>Associated boxes</th>
							<th>Associated shipping address</th>
						</tr>
					<% end %>
					<% @order.order_lines.each_with_index do |order_line, index| %>
						<tr>
							<td><%= order_line.product.name %></td>
							<td><%= order_line.quantity %></td>
							<td>
								<% order_line.associated_boxes.each_with_index do |box, index| %>
									<% if index > 0 %>
									, 
									<% end %>
									<a href="/boxes">Box <%= box.box_num %></a>
								<% end %>
							</td>
							<td>
								<% if order_line.shippable? %>
									<%= raw address_summary(order_line.shipping_address)%>
								<% else %>
									NA
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>
	</table>
	</div>
<div class="clearer"></div>