<div class="slim-centered" >
	<h1>Pricing</h1><br>
	With The Visible Closet, you have the freedom to store as much or as little as you want, and to only inventory the boxes you want. We do offer significant savings, however, to those who want to store a large number of boxes, or who wish to store for an extended period of time. See below for our pricing options!<br>
</div>
<div id="pricing" >
    <div id="choosebox">
        <a href="#" class="chooser active" id="our-boxes">&nbsp;</a><a href="#" class="chooser" id="your-boxes">&nbsp;</a>
    </div>
    <p class="select-text">&nbsp;</p>
    <!-- PRICE BOX FOR OUR BOXES -->
    <div class="price-box our-boxes">
        <div class="nav">
            <ul>
                <li class="box1 active"><a href="#"><strong><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_3 %></strong> month</a></li>
                <li class="box2"><a href="#"><strong><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_2 %></strong> month</a></li>
                <li class="box3"><a href="#"><strong><%= Discount::FREE_SHIPPING_MONTH_THRESHOLD %></strong> month</a></li>
				<li class="box4"><a href="#">Ad Hoc</a></li>
            </ul>
        </div>
        <div class="viewer" id="price-box-viewer">
            <div id="box1">
				<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @vc_box_count_1_months_3_disc, :inventory_discount => @vc_inventorying_count_1_months_3_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @vc_box_count_2_months_3_disc, :inventory_discount => @vc_inventorying_count_2_months_3_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @vc_box_count_3_months_3_disc, :inventory_discount => @vc_inventorying_count_3_months_3_disc } %>
            </div>
            <div id="box2" style="display:none">
				<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @vc_box_count_1_months_2_disc, :inventory_discount => @vc_inventorying_count_1_months_2_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @vc_box_count_2_months_2_disc, :inventory_discount => @vc_inventorying_count_2_months_2_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @vc_box_count_3_months_2_disc, :inventory_discount => @vc_inventorying_count_3_months_2_disc } %>
            </div>
            <div id="box3" style="display:none">
				<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @vc_box_count_1_months_1_disc, :inventory_discount => @vc_inventorying_count_1_months_1_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @vc_box_count_2_months_1_disc, :inventory_discount => @vc_inventorying_count_2_months_1_disc } %>
				<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @vc_box_count_3_months_1_disc, :inventory_discount => @vc_inventorying_count_3_months_1_disc } %>
            </div>
            <div id="box4" style="display:none">
				<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @vc_box_no_discount_disc, :inventory_discount => @vc_inv_no_discount_disc } %>
             </div>
           </div>
       </div>
<!-- END PRICE BOX FOR OUR BOXES -->
<!-- PRICE BOX FOR YOUR BOXES -->
    <div class="price-box your-boxes" style="display:none">
	        <div class="nav">
	            <ul>
	                <li class="box1 active"><a href="#"><strong><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_3 %></strong> month</a></li>
	                <li class="box2"><a href="#"><strong><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_2 %></strong> month</a></li>
	                <li class="box3"><a href="#"><strong><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_1 %></strong> month</a></li>
					<li class="box4"><a href="#">Ad Hoc</a></li>
	            </ul>
	        </div>
	        <div class="viewer" id="price-box-viewer">
	            <div id="box1">
					<% fb_incrementer = 0 %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @cust_box_count_1_months_3_disc, :inventory_discount => @cust_inventorying_count_1_months_3_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @cust_box_count_2_months_3_disc, :inventory_discount => @cust_inventorying_count_2_months_3_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @cust_box_count_3_months_3_disc, :inventory_discount => @cust_inventorying_count_3_months_3_disc, :fb_incrementer => fb_incrementer += 1 } %>
	            </div>
	            <div id="box2" style="display:none">
					<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @cust_box_count_1_months_2_disc, :inventory_discount => @cust_inventorying_count_1_months_2_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @cust_box_count_2_months_2_disc, :inventory_discount => @cust_inventorying_count_2_months_2_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @cust_box_count_3_months_2_disc, :inventory_discount => @cust_inventorying_count_3_months_2_disc, :fb_incrementer => fb_incrementer += 1 } %>
	            </div>
	            <div id="box3" style="display:none">
					<%= render :partial => "pricing_field", :locals => { :field_name => "field1", :storage_discount => @cust_box_count_1_months_1_disc, :inventory_discount => @cust_inventorying_count_1_months_1_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @cust_box_count_2_months_1_disc, :inventory_discount => @cust_inventorying_count_2_months_1_disc, :fb_incrementer => fb_incrementer += 1 } %>
					<%= render :partial => "pricing_field", :locals => { :field_name => "field3", :storage_discount => @cust_box_count_3_months_1_disc, :inventory_discount => @cust_inventorying_count_3_months_1_disc, :fb_incrementer => fb_incrementer += 1 } %>
	            </div>
	            <div id="box4" style="display:none">
					<%= render :partial => "pricing_field", :locals => { :field_name => "field2", :storage_discount => @cust_box_no_discount_disc, :inventory_discount => @cust_inv_no_discount_disc, :fb_incrementer => fb_incrementer += 1  } %>
	            </div>
	        </div>
	    </div>
	<div style="padding-left: 150px"></div>
	<div style="display: none">
	<div id="cf_explainer" style="text-align: center">You pay by the cubic foot for your boxes, or by the box for Visible Closet boxes.</div>
	</div>