<% @menu_page = :support %>
<%= render 'account/account_nav', :locals => {:menu_page => @menu_page} %>
<div style="padding: 0 0 0 250px;">
<h1>Support</h1><br>
We're sorry to hear you are having problems with our service! We will do everything in our power to support you. Please use one of the contact methods below to reach us.
<div class="simple_header">
	Frequently Asked Questions
</div>
<div class="simple_body">
Many questions can be answered by consulting our <a href="/faq">Frequently Asked Questions</a> page.	
</div>
<div class="simple_header">
	Phone
</div>
<div class="simple_body">
	We can be reached between 8:30 am and 5:30 pm Central Time at (888) 628-9994. For support, please select extension 1.
</div>

<div class="simple_header">
	Electronic Mail
</div>
<div class="simple_body">
<p>Please use the form below to email us with any concerns you may have at.</p> 
<p>Please be sure to use the email address you used to sign up for your account, as well as the box number or Fedex tracking number related to your request, if you have it. For a list of your boxes, see <a href="/boxes">here</a>.</p>
</div>
<div class="simple_body">
<br>
<%= form_tag "/pages/support_post", :class => "standard" do %>
<div class="field clearfix" style="text-align: left; vertical-align: top; padding-left: 31px">
	Your message:
<% text_area_value = params[:comment].nil? ? "" : params[:comment][:text] %>
<%= text_area(:comment, :text, :size => "46x10", :value => text_area_value)%><br>
<% if !@error_messages[:text].blank? %>
	<div class="error_label" style="text-align: right; padding-right: 80px"><%= @error_messages[:text] %></div>
<% end %>
</div>
<div class="field clearfix" style="padding-right: 70px;">
<%= submit_tag "Submit", :class => "button" %>
</div>
<% end %>
</div>
<br>
</div>
</div>