<%= render "admin/admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">
	<h1>Storage Charges Generated as of <%= @record.as_of_date.strftime "%m/%d/%Y" %> on <%= @record.created_at.strftime "%m/%d/%Y" %></h1><br>
	<% if !@record.locked_for_editing? %>
		<a href="/storage_charge_processing_records/<%=@record.id%>" data-method="delete">(Destroy All Storage Charges Listed Here)</a>
	<% else %>
		This record is locked -- you cannot edit it, delete it, or delete charges on it.
	<% end %>
	<br><br>
	<table class="lightly_padded_table centered_td">
		<tr>
			<th>Charge / Credit</th>
			<th>Id</th>
			<th>User Id</th>
			<th>User Name</th>
			<th>Box / Furniture</th>
			<th>Amount</th>
			<th>Comment</th>
			<th>Delete?</th>
		</tr>
	<% @record.storage_charges.each do |storage_charge| %>
		<tr>
			<td>Charge</td>
			<td><%= storage_charge.id %></td>
			<td><a href="/admin/user/<%= storage_charge.chargeable_unit.user.id %>"><%= storage_charge.chargeable_unit.user.id %></a></td>
			<td><%= storage_charge.chargeable_unit.user.name %></td>
			<td>
				<% if storage_charge.chargeable_unit.is_a?(Box) %>
					<a href="/admin/user/<%= storage_charge.chargeable_unit.user.id %>/boxes/<%= storage_charge.chargeable_unit.id %>">
				<% else %>
					<a href="/admin/furniture_items/<%= storage_charge.chargeable_unit.id %>">
				<% end %>
				<%= storage_charge.chargeable_unit.id %></a></td>
			<td><%= number_to_currency storage_charge.charge.amount %></td>
			<td><%= storage_charge.charge.comments %></td>
			<td>
				<% if !@record.locked_for_editing? %>
					<a href="/admin/charges/<%= storage_charge.charge.id %>/delete">X</a>
				<% else %>
					Locked
				<% end %>
			</td>
		</tr>
	<% end %>
	<% @record.credits.each do |credit| %>
		<tr>
			<td>Credit</td>
			<td><%= credit.id %></td>
			<td><a href="/admin/user/<%= credit.user.id %>"><%= credit.user.id %></a></td>
			<td><%= credit.user.name %></td>
			<td>NA</td>
			<td><%= number_to_currency credit.amount %></td>
			<td><%= credit.description %></td>
			<td>
				<% if !@record.locked_for_editing? %>
					<a href="/admin/credits/<%= credit.id %>/delete">X</a>
				<% else %>
					Locked
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
</div>
<div class="clearer"></div>
