<div style="width: 100%; text-align: center">
<br><br>
<h1>Set Shipping Address</h1>
<% if flash[:notice] %>
<div class="error_label"><%= flash[:notice] %></div>
<% end %>
<% if !@address.errors.empty? %>
	<div class="error_label">There <%= @address.errors.size > 1 ? "were a few errors" : "was an error" %> with the information you entered ... see below:</div>
<% end %>
	<br>
<%= form_for(@address, :url => "/account/set_checkout_shipping_address", :html => { :class => "registration", :onsubmit => "cf_submit.disabled=true;" }) do |f| %>
	<%= hidden_field_tag :cart_item_id, params[:cart_item_id] %>
	<table style="margin-left: auto; margin-right: auto">
			<tr>
				<td>
					<table class="address_select_table">
						<% @addresses << Address.new(:first_name => "", :last_name => "", :address_line_1 => "New Address", :city => "", :state => "", :zip => "") %>
						<% @addresses.each_with_index do |address, index| %>
							<% if index % 3 == 0 %>
								<tr>
							<% end %>
							<td style="vertical-align: middle; padding: 20px 10px">
								<%= radio_button_tag(:shipping_address_id, address.id, (address.id.nil? ? params[:shipping_address_id] == "on" : params[:shipping_address_id] == address.id.to_s), :onclick => "addressSelected('shipping_address_id_', 'new_address_div')") %>
							</td>
							<td style="text-align: left; vertical-align: middle">
								<% if address.id.blank? %>
								  <%= raw address_summary address %>
								<% else %>
								  <%= raw address_summary_with_fedex address %>
								<% end %>
							</td>
							<% if index + 1 == @addresses.size %>
								<% (2 - (index % 3)).times {  %>
									<td>&nbsp;</td><td>&nbsp;</td>
								<% } %>
							<% end %>

							<% if index % 3 == 2 || index + 1 == @addresses.size %>
								</tr>
							<% end %>
						<% end %>
					</table>					<br>
				</td>
			</tr>
			<tr><td>
				<div id="new_address_div" style="display: <%= params[:shipping_address_id] == "on" ? 'block' : 'none' %>">
					<table style="margin-left: auto; margin-right: auto">
						<%= render :partial => "addresses/new_form_guts", :locals => { :f => f } %>
					</table>
				</div>
			</td></tr>
			<tr>
				<td style="text-align: right; padding-right: 20px;">
					<br>
					<%= f.submit "Submit", :class => 'button', :id => 'cf_submit', :onclick => "return formMonitor(this);" %>
				</td>
			</tr>
	</table>
<% end %>
</div>