<%= render "admin/admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">
	<h1>Storage Charge Payment Records</h1><br>
	<table class="lightly_padded_table centered_td">
		<tr>
			<th>Id</th>
			<th>As of Date</th>
			<th>Created On</th>
			<th>Creator</th>
		</tr>
	<% @records.each do |record| %>
		<% if record.contains_rectify_payments? %>
		<tr style="background: #FF99FF">
		<% else %>
		<tr>
		<% end %>
			<td><a href="/storage_payment_processing_records/<%= record.id %>"><%= record.id %></a></td>
			<td><%= record.as_of_date.strftime "%m/%d/%Y" %></a></td>
			<td><%= record.created_at.strftime "%m/%d/%Y" %></a></td>
			<td>
				<% if record.generated_by %>
					<%= record.generated_by.first_name %> <%= record.generated_by.last_name %>
				<% else %>
					Machine (automated)
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
</div>
<div class="clearer"></div>
