<% credits.each do |credit| %>
	<tr>
		<td style="padding-left: 10px">
			<%= credit.payment_transaction.nil? ? "credit" : "payment" %> for 
			<% if credit.payment_transaction && credit.payment_transaction.order_id %>
				<a href="/orders/<%= credit.payment_transaction.order_id %>">order <%= credit.payment_transaction.order_id %></a>
			<% elsif credit.description %>
				<%= credit.description %>
			<% else %>
				storage charges
			<% end %>
			:
		</td>
		<td><%= number_to_currency credit.amount %> <%= credit.amount < 0 ? "(refund)" : "" %></td>
		<td></td>
	</tr>
<% end %>