<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<style>
.indent-div {
	padding-left: 15px;
}
</style>
<div id="internal-right">
	<h1>Invoice estimate for <%= @user.next_charge_date.strftime "%m/%d/%Y" %></h1>
	<p>This is an estimate of the charges you will incur at the end of the month based on the boxes you currently have in storage. Adding boxes, returning them, or using Visible Closet services may positively or negatively affect the amount due at the end of this month.</p>
	<br>
	<table class="lightly_padded_table">
		<tr>
			<td colspan="2"><b>Account Balance as of <%= @start_of_month.strftime "%m/%d/%Y" %>:</b></td>
			<td><%= number_to_currency (@user.account_balance_as_of(@start_of_month-1)) %></td>
		</tr>
		<% credits_during_month = @user.credits_during_month.select {|credit| !credit.new_record? } %>
		<% if credits_during_month.size > 0 %>
			<tr>
				<td colspan="2"><br><b>Credits Made this Month</td>
				<td></td>
			</tr>
<%= render :partial => "payments_list", :locals => { :credits => credits_during_month }%>
			<tr>
				<td colspan="2"><b>Total credits:</b></td>
				<td><b><%= number_to_currency MiscHelper.aggregate_transactions(credits_during_month)%></b></td>
			</tr>
		<% end %>
		<% charges_during_month = @user.charges_during_month %>
		<% if charges_during_month.size > 0 %>
			<tr>
				<td colspan="2"><br><b>Charges Already Incurred</td>
				<td></td>
			</tr>
<%= render :partial => "charges_list", :locals => { :charges => charges_during_month }%>
			<tr>
				<td colspan="2"><b>Total charges:</b></td>
				<td><b><%= number_to_currency MiscHelper.aggregate_transactions(charges_during_month) %></b></td>
			</tr>
		<% end %>
		<tr>
			<% anticipated_charges = @user.anticipated_charges %>
			<td colspan="2"><br><b>Anticipated Charges</b></td>
			<td></td>
		</tr>
		<% if anticipated_charges.size == 0 %>
			<tr><td colspan="2">None</td><td></td></tr>
		<% else %>
			<% anticipated_charges.each do |charge| %>
				<tr>
					<td style="padding-left: 10px; width: 400px;"><%= charge.comments %></td>
					<td><%= number_to_currency charge.amount %></td>
					<td></td>
				</tr>
			<% end %>
			<tr>
				<td colspan="2"><b>Total anticipated charges:</b></td>
				<td><%= number_to_currency MiscHelper.aggregate_transactions(anticipated_charges) %></td>
			</tr>
		<% end %>
		<tr><td colspan="3">&nbsp;</td></tr>
		<% anticipated_credits = @user.anticipated_credits %>
		<% if anticipated_credits.size > 0 %>
			<tr>
				<td colspan="2"><br><b>Anticipated Credits</td>
				<td></td>
			</tr>
<%= render :partial => "payments_list", :locals => { :credits => anticipated_credits }%>
			<tr>
				<td colspan="2"><b>Total anticipated credits:</b></td>
				<td><b><%= number_to_currency MiscHelper.aggregate_transactions(anticipated_credits)%></b></td>
			</tr>
		<% end %>
			<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<% end_month_balance = @user.account_balance_as_of(@end_of_month, true) %>
			<td colspan="2" style="text-align: right"><b>Net Anticipated Account Balance on <%= DateHelper.end_of_month.strftime "%m/%d/%Y"%>:</b></td>
			<td>
				<%= number_to_currency end_month_balance %>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: right"><b>Anticipated amount due:</b></td>
			<td>
				<% if end_month_balance > 0 %>
					<%= number_to_currency 0 %>
				<% else %>
					<%= number_to_currency end_month_balance*-1 %>
				<% end %>
			</td>
		</tr>
	</table>
	</div>
<div class="clearer"></div>