<% @menu_page = :store_more_stuff %>
<%= render 'account_nav', :locals =>  { :menu_page => @menu_page }%>
<div id="internal-right">
	<% if current_user.order_count == 0 %>
		<img src="/images/breadcrumb4.jpg"><br><br>
	<% end %>
	<% if @cart.errors.size > 0 %>
		<div class="error_label">
			There was a problem saving your entry.<br>
			<% @cart.errors.each do |attr, msg| %>
			<%= msg %><br>
			<% end %>
			<br>
		</div>
	<% end %>
<%= form_tag("/account/order_boxes", :class => "standard", :onsubmit => "cf_submit.disabled=true;") do %>
    <div class="graybox more-stuff-box-sizing">
        <table class="more-stuff-order">
              <tbody class="top-line">
                <tr>
                    <td class="detailtext">Would you like to store your own boxes or receive free boxes from The Visible Closet?</td>
                    <td style="vertical-align: middle; width: 150px">
	                	<%= radio_button_tag("box_type", "vc_boxes", true, :onclick => "toggleBoxCountSelect()")%> Visible Closet Boxes
					</td>
                    <td style="vertical-align: middle; width: 100px">
	                	<%= radio_button_tag("box_type", "cust_boxes", false, :onclick => "toggleBoxCountSelect()")%> My Boxes
					</td>
                </tr>
                <tr>
                    <td class="detailtext">How many boxes would you like to store?</td>
                    <td colspan="2"  style="vertical-align: middle">
						<div id="vc_boxes" name="vc_boxes" style="display:block"><%= select "num_vc_boxes", "num_vc_boxes", box_number_options(Rails.application.config.our_box_product_id) %></div>
						<div id="cust_boxes"  name="cust_boxes" style="display:none"><%= select "num_cust_boxes", "num_cust_boxes", box_number_options(Rails.application.config.your_box_product_id) %></div>
					</td>
                </tr>
                <tr>
                    <td colspan="3">Note: for your boxes, box size assumed to be 1 cubic foot. Actual monthly charge depends on the size of your box(es), and will be finalized when we receive your box(es).</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="order-boxes"><br>
		<%= submit_tag("Store Boxes", :class => "button", :id => "cf_submit", :onclick => "return formMonitor();") %>
    </div>
<% end %>
</div>
<div class="clearer"></div>
<div style="display: none">
<div id="pricing_box_inline" style="text-align: center">By choosing more months or boxes,<br> you take advantage of volume discounts. <br>For more details, see our <a href="/pricing">pricing page</a>.</div>
</div>