<% active_top_str = " class='current-menu-item'" %>
<% home_class = ""; hiw_class = ""; pricing_class = ""; blog_class = ""; contact_class = ""; account_class = ""; %>
<% case @top_menu_page %>
<% when :home %>
<%   home_class = active_top_str %>
<% when :hiw %>
<%   hiw_class = active_top_str %>
<% when :pricing %>
<%   pricing_class = active_top_str %>
<% when :blog %>
<%   blog_class = active_top_str %>
<% when :contact %>
<%   contact_class = active_top_str %>
<% when :account %>
<%   account_class = active_top_str %>
<% end %>
<%= render "layouts/header" %>
	
<!-- SIDE MENU HTML -->
<body>
	<% if impersonating? %>
    	<div id="toplip" style="background-color: red; color: black">
	<% else %>
		<div id="toplip">
	<% end %>
	<% if user_signed_in? %>
		<div id="container">
	        <div id="block">
				<% if impersonating? %>
					Impersonating
				<% else %>
					Signed in as
				<% end %>
				 <%= current_user.first_name %> <%= current_user.last_name %>.
				<% if impersonating? %>
					<%= link_to "Stop impersonating", "/admin/stop_impersonating" %>
				<% else %>
					<%= link_to "Sign out", destroy_user_session_path %>
				<% end %>
		    </div>
	    </div>
	<% end %>
	</div>
    <div id="container">
        <div id="block">
            <div id="header" class="bottom-border">
                <div id="logo">
                    <a href="/"><img src="/images/logo.gif" alt="Visible Closet" /></a>
                </div>
                <div id="nav">
    				<ul class="sf-menu" <%= raw "style='margin-top: 0px'" if user_signed_in? && current_user.has_stored_items? && @hide_item_search.nil? %>>
    					<li<%= home_class %>><a href="/">Home</a></li>
    					<li<%= hiw_class %>>
    						<a href="javascript: toggleHIWMenu()">How It Works</a>
    						<ul id="hiw_submenu">
    							<li><a href="/how_it_works">Overview</a></li>
    
    							<li><a href="/right_for_me">Is this right for me?</a></li>
    							<li><a href="/faq">FAQ</a></li>
    							<li><a href="restrictions">Restrictions</a></li>
    						</ul>
    					</li>
    					<li<%= pricing_class %>><a href="/pricing">Pricing</a></li>
    					<li<%= contact_class %>><a href="/contact">Contact</a></li>
						<% if user_signed_in? %>
						  <li<%= account_class %>><a href="/account/home">Account</a></li>
						<% end %>

						<% if not user_signed_in? %>
						<li><a href="/users/register">Sign Up</a></li>
						<% end %>
    				</ul>
					<% if current_user && current_user.has_stored_items? && @hide_item_search.nil? %>
						<%= form_tag "/stored_items", :id => "tags_search" do %>
						<span style="float: right; margin-right: 24px; padding-top: 0px">
							<%= autocomplete_field_tag 'tags', '', '/stored_items/autocomplete_stored_item_tags', :placeholder => "search your items", :style => "width: 275px; margin: 5px -15px 5px 5px; ", :id_element => "#selected_item" %>
							<%= hidden_field_tag :selected_item %>
						</span>
						<% end %>
					<% end %>
                </div>
                <div class="clearer"></div>
				<% if !user_signed_in? %>
	                <div id="login">
	                    <a href="/users/sign_in"><img src="/images/login.gif" alt="Log In" /></a> 
	                </div>
	                <div id="signup">
	                    <a href="/users/register"><img src="/images/signup.gif" alt="Sign Up" /></a> 
	                </div>
				<% elsif !current_user.cart.nil? && !current_user.cart.empty? && !@turn_cart_off %>
					<div id="cart-display">
	                    <p><a href="/account/cart">service requests in cart: <%= current_user.cart.num_items %></a></p>
	                </div>
				<% else # put this here in case something is added to the cart via ajax %>
					<div id="cart-display" style="display: none">
				
					</div>
				<% end %>
            </div>
            <div id="page-content">
            <!-- page content -->
<%= yield %>
			<!-- end page content -->
			</div>
            <div id="footer" class="top-border">
                <p class="copyright">Copyright &copy;2011 The Visible Closet, Inc. All Rights Reserved.</p>
                <p class="legal"><a href="/legal">Legal</a> | <a href="/privacy">Privacy Policy</a></p>
                <div class="clearer"></div>
            </div>
<!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal" style="margin-left: auto; margin-right: auto; padding: 0 0 0 0"> <script type="text/javascript" language="javascript">var ANS_customer_id="39484fce-72da-49d1-8ab2-269cff217b32";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Services</a></div>
        </div>
    </div>
</body>
</html>